/* sidebar */
.sidebar {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 250px;
    padding: 25px;
    color: var(--font-light);
    background: var(--section);
    -webkit-box-shadow: 1px 0px 5px 0.5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 1px 0px 5px 0.5px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 0px 5px 0.5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    transition: var(--transition-default);
}

.toggle-sidebar {
    margin-left: -250px;
}

.close {
    display: none;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-img {
    width: 50px;
    height: 50px;
}

.logo-txt {
    color: var(--font-bold);
    font-size: 30px;
}

.nav-links ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.nav-links ul li {
    min-width: 100%;
    padding: 20px 10px;
    border-radius: 15px;
    display: block;
    font-size: 20px;
}

.nav-links ul li:hover {
    color: var(--white);
    background: var(--sky-blue);
    -webkit-box-shadow: 0px 0px 2px 1px rgba(22, 187, 229, 1);
    -moz-box-shadow: 0px 0px 2px 1px rgba(22, 187, 229, 1);
    box-shadow: 0px 0px 2px 1px rgba(22, 187, 229, 1);
    scale: 1.05;
    transition: 0.5s ease-in-out;
}

.nav-links ul li.active {
    color: var(--white);
    background: var(--sky-blue);
}

@media only screen and (max-width: 1080px) {
    .close {
        position: absolute;
        width: 25px;
        height: 25px;
        right: 10px;
        top: 10px;
        display: block;
    }

    .sidebar {
        position: absolute;
        height: 100vh;
        margin-left: -255px;
    }

    .sidebar-open {
        margin-left: 0;
    }

    .blur-active {
        display: block;
    }
}

@media only screen and (max-width: 825px) {
    .search-bar,
    .dark-theme-btn,
    .notification-btn {
        display: none;
    }
}
