.personal-details {
    background: var(--section);
    height: 370px;
    width: 100%;
    padding: 0 20px 20px 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.personal-data {
    width: 50%;
    display: flex;
    font-size: 20px;
    margin-top: 40px;
}

.personal-data .title {
    min-width: max-content;
    color: var(--font-bold);
}

.personal-data .data {
    color: var(--font-light);
}

/* responsive */
@media only screen and (max-width: 1500px) {
    .personal-data {
        font-size: 18px;
    }
}

@media only screen and (max-width: 920px) {
    .personal-details {
        border-radius: 0 0 15px 15px;
    }
}

@media only screen and (max-width: 700px) {
    .personal-data {
        font-size: 16px;
    }
}

@media only screen and (max-width: 575px) {
    .personal-details {
        height: 530px;
        padding: 0 20px 20px 60px;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: start;
    }

    .personal-data {
        width: 100%;
        margin-top: 30px;
    }
}
