.bio-pic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 70%;
    border-radius: 15px;
    color: var(--font-bold);
    background: var(--section);
    -webkit-box-shadow: 0px 0px 5px 0.5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 5px 0.5px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 5px 0.5px rgba(0, 0, 0, 0.2);
}

.bio-profile-pic {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    overflow: hidden;
}

.bio-profile-pic:hover {
    scale: 1.05;
    transition: 0.5s ease-in-out;
}

.profile-txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
}

/* responsive */

@media only screen and (max-width: 1500px) {
    .bio-profile-pic {
        width: 150px;
        height: 150px;
    }

    .profile-txt {
        font-size: 18px;
    }
}

@media only screen and (max-width: 1280px) {
    .bio-pic {
        width: 320px;
        border-radius: 15px 0 0 15px;
        -webkit-box-shadow: -3px 0px 5px 0.5px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: -3px 0px 5px 0.5px rgba(0, 0, 0, 0.2);
        box-shadow: -3px 0px 5px 0.5px rgba(0, 0, 0, 0.2);
    }
}

@media only screen and (max-width: 920px) {
    .bio-pic {
        flex-direction: row;
        width: 100%;
        padding: 70px 0 0 0;
        border-radius: 15px 15px 0 0;
        -webkit-box-shadow: 0px 0px 5px 0.5px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0px 0px 5px 0.5px rgba(0, 0, 0, 0.2);
        box-shadow: 0px 0px 5px 0.5px rgba(0, 0, 0, 0.2);
    }
}

@media only screen and (max-width: 700px) {
    .bio-profile-pic {
        width: 100px;
        height: 100px;
    }

    .profile-txt {
        font-size: 18px;
    }
}
