.data-list {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    padding: 20px 30px;
    background: var(--section);
}

.data-list ul li {
    width: 100%;
}

.data-list-data {
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
    width: 350px;
    padding: 5px 50px 5px 20px;
    border-radius: 15px;
    background: #cfecf6;
    border: 2px solid var(--sky-blue);
}

.dl-info {
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.data-list-data:hover {
    scale: 1.01;
    transition: 0.5s ease-in-out;
}

.data-list-data-name {
    display: flex;
    min-width: 450px;
    gap: 10px;
}

.data-list-data-profile-image {
    width: 60px;
    height: 60px;
    border-radius: 100px;
    overflow: hidden;
}

.data-list-data-profile-image img {
    object-fit: cover;
}

.no-bd-rs {
    overflow: visible;
}

.data-list-data-txt {
    min-width: max-content;
    color: var(--font-bold);
    font-size: 20px;
}

.view-btn {
    margin-left: 15px;
    padding: 10px 25px;
    border-radius: 5px;
    border: none;
    background: #ff8500;
    background: var(--sky-blue);
    font-size: 15px;
    color: var(--font-bold);
    cursor: pointer;
}

.edit-btn {
    margin-left: 15px;
    padding: 10px 25px;
    border-radius: 5px;
    border: none;
    background: #e9ff70;
    background: var(--sky-blue);
    font-size: 15px;
    color: var(--font-bold);
    cursor: pointer;
}

.delete-btn {
    margin-left: 15px;
    padding: 10px 25px;
    border-radius: 5px;
    border: none;
    background: rgb(245, 94, 94);
    background: var(--sky-blue);
    font-size: 15px;
    color: var(--font-bold);
    cursor: pointer;
}

.admin-btn:hover {
    scale: 1.07;
    transition: 0.5s ease-in-out;
}

.add-btn {
    position: absolute;
    right: 50px;
    margin-left: 15px;
    padding: 10px 25px;
    border-radius: 5px;
    border: none;
    background: #cfecf6;
    /* background: var(--sky-blue); */
    font-size: 15px;
    color: var(--font-bold);
    cursor: pointer;
}
