.personal-details {
    background: var(--section);
    padding: 20px 20px 20px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.personal-data {
    display: flex;
    font-size: 20px;
    margin-top: 40px;
}

.personal-data .title {
    color: var(--font-bold);
}

.personal-data .data {
    color: var(--font-light);
}

.address {
    display: flex;
    flex-wrap: wrap;
}

/* responsive */
@media only screen and (max-width: 1500px) {
    .personal-data {
        font-size: 18px;
    }
}
