@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* reset */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

:root {
    --background: #eff1f7;
    --section: #fff;
    --black: #000;
    --white: #fff;
    --search-bar: #f5f7fd;
    --sky-blue: #16bbe5;
    --font-bold: #2e4765;
    --font-light: #676b84;
    --font-family-bai: 'Bai Jamjuree', sans-serif;
    --transition-default: all 300ms ease-in-out;
}

body {
    font-family: var(--font-family-bai);
}

.app {
    width: 100%;
    min-height: 100vh;
    background: var(--background);
    display: flex;
}

.blur-screen {
    position: absolute;
    top: 0;
    width: 100%;
    min-height: 100vh;
    background: var(--black);
    opacity: 0.8;
    display: none;
}

/* responsive */

@media only screen and (max-width: 920px) {
    .app {
        min-height: 1125px;
    }
}

@media only screen and (max-width: 700px) {
    .app {
        min-height: 1030px;
    }
}

@media only screen and (max-width: 570px) {
    .app {
        min-height: 1250px;
    }
}
